<section class="hero is-danger">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <h1 class="subtitle is-2">
              Area51
            </h1>
          </a>
          <a class="navbar-item has-text-right">
            by kuttyselva
          </a>
        </div>
      </div>
    </nav>
  </div>
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Area51
      </h1>
      <h2 class="subtitle">
        Find your alien pet
      </h2>
    </div>
  </div>
</section>
<app-image></app-image>